@model IEnumerable<Balance_Transaction.Models.Person>;

    <h5>
        <h5 class=" text-danger "> @TempData["BalanceError"] </h5>  
        <h5 class=" text-danger "> @TempData["nulloerror"] </h5> 
        <h5 class="text-success text-bold"> @TempData["success"] </h5> 
        <h5 class="text-success text-bold"> @TempData["fill"] </h5> 
    </h5>

    <h3> მომხმარებლები </h3>

    @foreach(var pers in Model)
    {
        <div class="d-grid">
            <div class="card mt-4 crd-stls" style="background-color: darkgoldenrod; width: 60%; padding: 20px">

                <div class="card" style="background-color: #664d03;">
                    <h3 class="text-white" style="margin-left:5px;"> @pers.Name  </h3>
                    <h3 class="text-white" style="margin-left:5px;"> @pers.Surname </h3>
                    <h3 class="text-white d-flex" style="margin-left:5px;"> ბალანსი: <strong style="margin-left: 20px;" class="text-black">  <h2> @pers.Balance$ </h2>  </strong>  </h3>
                </div>

                <div class="d-flex">           
                   <input id="myBtn" class="myBtn text-white mutual-btn" data-toggle="modal" data-target="#myModal" data-name = "@pers.Name" data-surname = "@pers.Surname" data-personId="@pers.Id" type="submit" value="თანხის გადარიცხვა">
                   <input type="hidden" name="personid" class="personID" id="personID" value="@pers.Id">
                   <input type="hidden" name="personname"  class="nameID" id="nameID" value="@pers.Name" />
                   <input type="hidden" name="personname"  class="surnameID" id="surnameID" value="@pers.Surname " />
                </div>

                <div class="d-flex mt-1"> 
                   <input class="fill-btn text-white mt-3 mutual-btn" type="submit" style="background-color: #0f5233;" data-name = "@pers.Name" data-surname = "@pers.Surname" data-personId="@pers.Id" value="ბალანსის შევსება">
                   <input type="hidden" name="persid" value="@pers.Id">
                </div>

                <form class="d-grid" asp-action="TransHistory" asp-controller="Transaction" method="post">
                    <div class="d-flex mt-1"> 
                       <input class="text-white mt-3 tran-hist mutual-btn" type="submit" style="background-color: brown;" value="ტრანზაქციების ისტორია">
                       <input type="hidden" name="persid" value="@pers.Id">
                    </div>
                </form>

            </div>
        </div>
        <div class="d-grid" asp-action="AddMoney" asp-controller="Transaction" method="post">
            
         </div>
         
    }

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" asp-action="SubtractMoney" asp-controller="Transaction" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"> თანხის გადარიცხვა </h5>
                     <button id="cls-btn" 
                            style="color: red; border-radius: 8px; background-color: white;
                            font-size: medium; border-color: black; padding-top: 0px; font-weight: 900; border-width: 0px; font-size: x-large;" 
                            type="button" class="close-btn" data-dismiss="modal" aria-hidden="true">
                            &times;
                     </button>
                </div>
                <div class="card" style="border-width: thin; margin: 10px;">
                    <div class="modal-body d-flex">
                       <h6 class="text-black"> გამგზავნი: </h6>
                       <h6 style="border: none; margin-top: 1px; margin-left: 6%; color: green; font-family: unset; font-weight: bold;" type="text" id="TransId" class="text-green">  </h6>
                    </div>

                    <div class="modal-body d-flex">
                       <h6 class="text-black"> მიმღების პნ: </h6>
                       <input id="RecId" style="margin-left: 3%; height: 28px; width: 180px; border-radius: 7px;" type="text" name="receiverPN" placeholder="   პირადი ნომერი">
                   
                   </div>

                   <div class="modal-body d-flex">
                       <h6 class="text-black"> რაოდენობა: </h6>   
                       <input id="TransId" style="margin-left: 4.5%; height: 28px; width: 180px; border-radius: 7px;" type="text" name="totransac" value=" ">
                   </div>
                </div>

                <div class="modal-footer">   
                    <button type="submit" class="btn btn-primary"> გადარიცხვა </button>
                    <button type="button" class="btn close-btn btn-danger data-dismiss="modal"> დახურვა </button>
                    <input name="personid" id="totrans" type="hidden"/>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="fillmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" asp-action="AddMoney" asp-controller="Transaction" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"> ბალანსის შევსება </h5>
                     <button id="cls-btn" 
                            style="color: red; border-radius: 8px; background-color: white;
                            font-size: medium; border-color: black; padding-top: 0px; font-weight: 900; border-width: 0px; font-size: x-large;" 
                            type="button" class="close-btn" data-dismiss="modal" aria-hidden="true">
                            &times;
                     </button>
                </div>
                <div class="card" style="border-width: thin; margin: 10px;">
                
                    <div class="modal-body d-flex" style="height: 170px; padding-top: 60px;">
                       <h6 class="text-black" style="font-size: 21px; margin-top: 3px"> თანხა: </h6>
                       <input id="1" style="margin-left: 3%; height: 35px; width: 140px; border-radius: 12px;" type="text" name="tofill" value=" ">
                       <input type="hidden" name="persid" id="tofill" value = " " />
                   </div>

                </div>

                <div class="modal-footer justify-content-start">   
                    <button type="submit" class="btn btn-primary"> შევსება </button>
                    <button type="button" class="btn close-btn btn-danger data-dismiss="modal"> დახურვა </button>
                </div>
            </form>
        </div>
    </div>

@*    @section Scripts {

         <script>
                    $(document).ready(function() {
                
                         // Attach Button click event listener 
                        $(".myBtn").click( function(e){
                     
                             // show Modal
                             $("#myModal").modal('show');
                             let personId = $(this).attr("data-personId");
                             let nameValue = $(this).attr("data-name");
                             let surnameValue = $(this).attr("data-surname");

                             document.getElementById("TransId").innerText = nameValue + " " + surnameValue;
                             document.getElementById("totrans").value = personId;
                        });

                        $(".close-btn").click( function(){

                             // hide Modal
                             $("#myModal").modal('hide');
                        });

                        $(".fill-btn").click(function(e) {
                            //alert("clicked");
                            $("#fillmodal").modal('show');
                            let personId = $(this).attr("data-personId");
                            document.getElementById("tofill").value = personId;
                            console.log(personId);
                            $(".close-btn").click( function(){
                             // hide Modal
                            $("#fillmodal").modal('hide');
                        });
                        } )
                    });
            </script>

    }*@

